
@font-face {
  font-family: "Noir Pro";
  src: url("./fonts/NoirPro-Regular.woff2") format("woff2"),
    url("./fonts/NoirPro-Regular.WOFF") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noir Pro";
  src: url("./fonts/NoirPro-Medium.woff2") format("woff2"),
    url("./fonts/NoirPro-Medium.WOFF") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noir Pro";
  src: url("./fonts/NoirPro-Bold.woff2") format("woff2"),
    url("./fonts/NoirPro-Bold.WOFF") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
.MuiTable-root th,
.MuiTable-root td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  line-height: 1;
  font-family: "Noir Pro";
  font-weight: 400;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Noir Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f9;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
}
.sidebar {
  position: fixed;
  width: 253px;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding: 5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 ;
  font-family: "Noir Pro" ;
}
p,
a,
li,
span,
div {
  font-weight: 400;
  line-height: 1.3;
}
.main {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
.content-wrapper {
  width: calc(100% - 253px);
  padding: 7rem 5rem;
  margin-left: auto;
}
.section-title , .MuiTypography-root.section-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Noir Pro" ;
}
.rummy-analytics-section .filter-box fieldset {
  border: none !important;
}

.rummy-analytics-list li {
  width: 19%;
  padding: 3rem 3rem;
  border-radius: 1rem;
  margin-right: 1.25%;
}
.rummy-analytics-list li:last-child {
  margin-right: 0;
}
.rummy-analytics-list li p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: #3E3879;
}
.rummy-analytics-list li h4 {
  font-size: 3rem;
  color: #3E3879;
  font-weight: 500;
  font-family: "Noir Pro";
}
